.lista-opciones label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    font-family:  "Montserrat", sans-serif;
    margin-bottom: 8px;
}

.lista-opciones select{
    
    width: 100%;   
    padding: 30px 20px;
    border: none;
    outline-color: #6278F7;
    background: #ffffff;
    font-size: 18px;
   
}